In [22]:
import pandas as pd

In [49]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [50]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [51]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [52]:
ufo.rename(columns= {'Colors Reported': 'Colors_Reported', 'Shape Reported':'Shape_Reported'}, inplace=True)

In [54]:
ufo.head()

                   City Colors_Reported Shape_Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [55]:
ufo.columns

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

In [56]:
ufo.columns = ufo.columns.str.replace('_', '')

In [57]:
ufo.columns

Index(['City', 'ColorsReported', 'ShapeReported', 'State', 'Time'], dtype='object')

In [58]:
type(ufo)

pandas.core.frame.DataFrame