In [1]:
import pandas as pd

In [14]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [15]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [16]:
ufo.shape

(18241, 5)

In [17]:
ufo.drop('Colors Reported', axis=1, inplace=True)

In [18]:
ufo.head()

                   City Shape Reported State             Time
0                Ithaca       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro          OTHER    NJ  6/30/1930 20:00
2               Holyoke           OVAL    CO  2/15/1931 14:00
3               Abilene           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair          LIGHT    NY  4/18/1933 19:00

In [19]:
ufo[ufo.City == 'Ithaca'].index

Int64Index([0, 4068, 5631, 6961, 7573, 9088, 16537, 17049], dtype='int64')

In [9]:
ufo.drop(['City', 'State'], axis=1, inplace=True)

In [10]:
ufo.head()

  Shape Reported             Time
0       TRIANGLE   6/1/1930 22:00
1          OTHER  6/30/1930 20:00
2           OVAL  2/15/1931 14:00
3           DISK   6/1/1931 13:00
4          LIGHT  4/18/1933 19:00

In [20]:
# axis=0 is default so doesn't need to be specified
ufo.drop([0,1], axis=0, inplace=True)

In [21]:
ufo.head()

                   City Shape Reported State             Time
2               Holyoke           OVAL    CO  2/15/1931 14:00
3               Abilene           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair          LIGHT    NY  4/18/1933 19:00
5           Valley City           DISK    ND  9/15/1934 15:30
6           Crater Lake         CIRCLE    CA   6/15/1935 0:00